
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><i class="fab fa-stripe-s fa-3x">WAP</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="users/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users/Profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add event</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </form>
    </div>
  </nav>

  
 